* {
  transition: none;
  box-shadow: none;
  padding-bottom: 1px;
  margin: 0px;
  min-height: 15px;
}

#battery,
#network,
#pulseaudio,
#backlight,
#clock,
#custom-powermenu,
#tray,
#power-profiles-daemon {
  margin: 2px 1px;
  padding: 1px 6px;
  min-width: 15px;
  border: 1px double;
  border-color: #bdbdbd;
  border-radius: 5px;
  background-color: #2e2e2e;
  color: #f8f8f8;
}

#battery.charging {
  padding-bottom: 0px;
}

#battery.critical:not(.charging) {
  color: #f8f8f8;
  background-color: #6a040f;
}

#custom-powermenu {
  padding-right: 7px;
}

#custom-recording {
  margin: 2px 3px;
  padding: 2px 6px;
  color: #f8f8f8;
  background-color: #6a040f;
  min-width: 15px;
  border: 1px double;
  border-color: #bdbdbd;
  border-radius: 5px;
}

#waybar {
  font-size: 12px;
  font-family: JetBrains Mono Nerd Font;
  font-weight: 600;
  color: #d0d0d0;
  background: #252525;
  border-bottom: 1px solid #979797;
}

#workspaces button {
  margin: 2px 2px;
  padding: 2px 6px;
  color: #c5c5c5;
  border-radius: 5px;
}

#workspaces button:hover {
  background: #410309;
  border: 1px double;
  border-color: #bdbdbd;
  border-radius: 5px;
}

#workspaces button.active {
  background-color: #1e4a63;
  border: 1px double;
  border-color: #bdbdbd;
  border-radius: 5px;
}

#workspaces button.urgent {
  color: #6a040f;
}

#pulseaudio.muted {
  font-size: 14px;
  background-color: #810411;
}

#pulseaudio.bluetooth {
  background-color: #346b4f;
}

#power-profiles-daemon.performance {
  background-color: #6a040f;
}

#power-profiles-daemon.balanced {
  background-color: #2e2e2e;
}

#power-profiles-daemon.power-saver {
  background-color: #0a4f0a;
}

#window {
  font-size: 14px;
  font-weight: 400;
  font-family: JetBrains Mono Nerd Font;
}
