@define-color base00 #141b1e;
@define-color base01 #303030;
@define-color base02 #39423f;
@define-color base03 #585858;
@define-color base04 #b8b8b8;
@define-color base05 #d8d8d8;
@define-color base06 #e8e8e8;
@define-color base07 #f8f8f8;
@define-color base08 #ab4642;
@define-color base09 #dc9656;
@define-color base0A #f7ca88;
@define-color base0B #a1b56c;
@define-color base0C #86c1b9;
@define-color base0D #7cafc2;
@define-color base0E #ba8baf;
@define-color base0F #bd516c;


* {
  transition: none;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  min-height: 18px;
}

#battery, #network, #pulseaudio, #backlight,
#clock, #custom-powermenu, #tray{
  margin: 2px 0px;
  padding: 0px 5px 0px 5px;
  background-color: @base02;
  min-width: 15px;
  border-radius: 5px
}

#custom-powermenu {
  /* font-size: 15px; */
  padding-right: 8px;
}

#waybar {
    font-size: 12px;
    font-family: JetBrains Mono Nerd Font;
    font-weight: 600;
    color: @base04;
    background: @base00;
}

#workspaces button {
  margin: 0 0 0 0;
  padding: 0 5 0 5;
  color: @base05;
}

#workspaces button.hover {
  background: @base01;
}

#workspaces button.active {
  background-color: @base02;
}

#workspaces button.urgent {
  color: rgba(238, 46, 36, 1);
}

#pulseaudio.muted {
  color: #bd516c;
}

#pulseaudio.bluetooth {
  color: #51bd79;
}

#window {
  font-size: 14px;
  font-weight: 400;
  font-family: JetBrains Mono Nerd Font;

}
#window {
  font-size: 14px;
  font-weight: 400;
  font-family: JetBrains Mono Nerd Font;

}

