window {
	border: 2px solid #991f1f;
    border-radius: 5px;
	background-color: #1a1a1a;
}

#inner-box,
#outer-box {
	margin: 5px;
	color: #adadad;
	background-color: #1a1a1a;
}

#text {
	font: BigBlueTermPlus Nerd Font;
	font-size: 30px;
	margin: 5px;
}

#text:selected {
	color: #ebebeb;
}

#entry:selected {
	background-color: #593636;
}
