* {
  border: none;
  font-family: "CaskaydiaMono Nerd Font";
  font-size: 15px;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
  padding-top: 1px;
  padding-bottom: 1px;
  /* margin: 0px 0px 0px 0px; */
}

window#waybar {

  color: #d3c6aa;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  background-color: #1e2326;
  border: none;
}

#workspaces,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#clock,
#custom-powermenu,
#custom-tray,
#keyboard-state,
#tray {
  opacity: 1;
  margin: 0px 3px 0px 3px;
  /* padding: 0px 3px 0px 3px; */
  padding: 0px 10px 0 10px;
  background: #4d585e;
  border-radius: 5px;
}

#pulseaudio {
  color: #e69875;
  padding: 0 12px 0 12px;
}

#clock {
  color: #dbbc7f;
  padding: 0 10px 0 10px;
}

#battery {
  color: #83c092;
  padding-right: 1px;
}

#network {
  color: #7fbbb3;
  padding: 0 15px 0 9.5px;
}

#custom-powermenu {
  color: #e67e80;
  padding: 0 14px 0 12px;
}

#custom-tray {
  color: #b175fc;
  padding-right: 14.8px;
  margin-left: 10px;
}

#keyboard-state {
  font-size: 13px;
  color: #a7c080;
  padding-right: 14.8px;
}

#workspaces {
  color: #a7c080;
  font-family: "CaskaydiaMono NF";
  font-size: 13px;
}

#workspaces button.active {
  color: #1e2326;
  background: #a9c4d3;;
  border-radius: 7px;
}

#workspaces button:hover {
  border-radius: 7px;
  color: #a9c4d3;
  background: #1e2326;;
}

#window {
  font-family: "CaskaydiaMono NF";
  font-size: 10px;
  color: #414b50;
  margin-left: 20px;
  margin-right: 20px;
}