window {
  font-family: CaskaydiaMono Nerd Font;
  font-size: 30px;
  background: #1b1b1b;
  color: #a9c4d3;
  
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  border: 50px;
  border-color: #3b3b3b;
  border-radius: 12px;
  color: #a9c4d3;
  background-color: #3b3b3b;
  margin: 10px;
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;

}

button:hover {
  background-color: #503d39;
}

button:focus {
  background-color: #d49a9a;
  color: #1d1d1d;
}


#lock {
  background-image: image(url("./lock.png"));
}
#lock:focus {
  background-image: image(url("./lock-hover.png"));
}

#logout {
  background-image: image(url("./logout.png"));
}
#logout:focus {
  background-image: image(url("./logout-hover.png"));
}

#suspend {
  background-image: image(url("./sleep.png"));
}
#suspend:focus {
  background-image: image(url("./sleep-hover.png"));
}

#shutdown {
  background-image: image(url("./power.png"));
}
#shutdown:focus {
  background-image: image(url("./power-hover.png"));
}

#reboot {
  background-image: image(url("./restart.png"));
}
#reboot:focus {
  background-image: image(url("./restart-hover.png"));
}
