window {
  border: 2px solid #5896A7;
  border-radius: 5px;
  background-color: #1a1a1a;
}

#inner-box,
#outer-box {
  margin: 5px;
  color: #adadad;
  background-color: #1a1a1a;
}

#text {
  font: JetBrains Mono Nerd Font; 
  font-size: 25px;
  margin: 5px;
}

#text:selected {
  color: #ebebeb;
}

#entry:selected {
  background-color: #5896A7;
}
