window {
  margin: 0px;
  border: 2px solid #5896A7;
  border-radius: 15px;
  background-color: #252525;
}

#input {
  margin: 5px;
  border: none;
  color: #e2e2e2;
  background-color: #414b50;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #1e2326;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #1e2326;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #e2e2e2;
}

#entry:selected {
  background-color: #414b50;
}
